
{% extends './layouts/home.njk' %}

{% block content %}
  <img src="img/logo.svg" width="200" alt="">
  <h1>Hello World</h1>
  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Sapiente aut, quos illo necessitatibus similique nobis illum minima, amet ipsam sequi maxime quae et accusamus molestiae accusantium hic cupiditate quaerat ad.</p>
{% endblock %}